#!/bin/sh /etc/rc.common

START=99
STOP=20

#export command line for /usr/sbin/supervisord
export PROCLINE='$INITCMD'
export PROCFLAG='$Name'

export EXTRA_HELP="	status	Status the service"
export EXTRA_COMMANDS="status"

start() {
        prepare_chroot.sh 
	/usr/sbin/supervisord start
	return $?
}

restart() {
	stop
	sleep 1
	start
	return $?
}

shutdown() {
	stop
	return $?
}

stop() {
	/usr/sbin/supervisord stop
	return $?
}
status() {
	/usr/sbin/supervisord status
	return $?
}
#
